@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur&family=Julius+Sans+One&family=Playfair+Display+SC&display=swap');

// Colors
$warm-black: #004346;
$copper: #B87D4B;
$seal-brown: #452103;
$eggshell: #EEEBD3;

//Fonts
$main-title: 'Playfair Display SC', sans-serif;
$sub-title: 'Julius Sans One', sans-serif;
$text-body: 'Hind Gruntur', sans-serif;

// Breakpoints
$breakpoints: (
        "md": 768px,
        "lg": 992px
)