{% extends 'base.html.twig' %}

{% block title %}Hypnos Hôtels - Notre histoire{% endblock %}

{% block content %}
    <div class="heading-page">
        <h2>Notre Histoire</h2>
    </div>
    <div class="container frame">
        <div class="row">
            <div class="col">
                <h3 class="mb-3">Les Débuts d'Hypnos</h3>
                <p>Lorem ipsum dolor sit amet. Eos sint asperiores sed tenetur itaque non nisi magni vel perspiciatis
                    optio et obcaecati quisquam qui corporis pariatur ad nesciunt repudiandae? Qui magni tempora nam
                    voluptatibus optio id eligendi totam. Qui itaque rerum aut veritatis modi quo explicabo
                    necessitatibus ut rerum voluptatibus ab quae. Ea optio velit est nesciunt voluptas sed magnam quia
                    vel nihil tempore aut enim enim quo neque ipsam. </p>
                <p>Quo enim exercitationem aut labore minima ab praesentium incidunt aut voluptate quaerat vel
                    consequuntur expedita non voluptatem soluta aut nostrum aspernatur. Est nostrum voluptatem qui quas
                    dolorem et delectus facere et aliquam asperiores qui pariatur rerum in iure quos qui nobis
                    nulla. </p>
                <p>Aut rerum harum aut consequatur unde At consequatur temporibus et illo magni est laboriosam illum aut
                    totam aperiam cum suscipit rerum. Aut beatae consequuntur ut optio rerum et velit eveniet a
                    molestias mollitia! Sit laboriosam internos et tenetur libero a autem nostrum est odio sunt ab velit
                    laboriosam ut veniam nihil At doloremque corporis? </p>
                <div class="text-center my-5">
                <img src="{{ asset('assets/images/fancy.jpg') }}" alt="Une salle de restaurant" width="550">
                </div>
                <h3 class="my-5">Notre vision</h3>
                <p>Lorem ipsum dolor sit amet. Eos sint asperiores sed tenetur itaque non nisi magni vel perspiciatis
                    optio et obcaecati quisquam qui corporis pariatur ad nesciunt repudiandae? Qui magni tempora nam
                    voluptatibus optio id eligendi totam. Qui itaque rerum aut veritatis modi quo explicabo
                    necessitatibus ut rerum voluptatibus ab quae. Ea optio velit est nesciunt voluptas sed magnam quia
                    vel nihil tempore aut enim enim quo neque ipsam. </p>
                <p>Quo enim exercitationem aut labore minima ab praesentium incidunt aut voluptate quaerat vel
                    consequuntur expedita non voluptatem soluta aut nostrum aspernatur. Est nostrum voluptatem qui quas
                    dolorem et delectus facere et aliquam asperiores qui pariatur rerum in iure quos qui nobis
                    nulla. </p>
                <p>Aut rerum harum aut consequatur unde At consequatur temporibus et illo magni est laboriosam illum aut
                    totam aperiam cum suscipit rerum. Aut beatae consequuntur ut optio rerum et velit eveniet a
                    molestias mollitia! Sit laboriosam internos et tenetur libero a autem nostrum est odio sunt ab velit
                    laboriosam ut veniam nihil At doloremque corporis? </p>
            </div>
        </div>
    </div>
{% endblock %}
