nav {
  background: $copper;
  padding: 0.1rem 5rem !important;
  font-size: 0.8rem;

  @include media("md"){
    padding: 0.1rem 1rem !important;
  }

  .navbar-collapse {
    justify-content: space-between;
  }

  .navbar-nav {
    align-items: center;
  }

  .navbar-nav li {
    @include media('md'){
      margin-left: 0;
    }
    margin-left: 150px;
  }
  .navbar-item-custom{
@include media('md'){
  display: flex;
  flex-direction: column;
  align-items: center;
}
    a{
      @include media('md'){
        margin-bottom: 15px;
      }
    }
  }
  .nav-link, a, .navbar-item-custom {
    color: #fff !important;
    font-family: $sub-title;
    text-transform: uppercase;
  }
}

li.nav-item {
  @include media('md'){
    text-align: center;
  }
}

a {
  text-decoration: none;
}

.btn-nav {
  border-radius: 5px;

  &:hover {
    background: $seal-brown;
  }
}

.nav-link, .hoverable {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 2px;
    width: 0;
    bottom: -5px;
    left: 0;
    transition: 0.5s;
  }

  &:hover {
    color: #fff;
  }

  &:hover:after {
    width: 100%;
  }
}

.nav-item {
  @include media('md'){
    margin: 10px 0;
  }
}

//Header

header {
  background-image: url("../../../../public/assets/images/header.png");
  height: 550px;

  .header-row {
    height: 550px;
  }
}