{% extends 'base.html.twig' %}

{% block title %}Hypnos Hôtels - Inscription{% endblock %}

{% block content %}

    <div class="heading-page">
        <h2>Inscription</h2>
    </div>

    <div class="container frame">
        <div class="row">
        <div class="col-md-6">
            <img src="{{ asset('assets/images/roses-bed.jpg') }}" alt="Des roses sur un lit" class="img-fluid">
        </div>
        <div class="col-md-6 mt-5">
            <h3>Vos Informations Personnelles</h3>
            {{ form(form) }}
            <p class="text-center">Vous avez déjà un compte ? <a href="{{ path('app_login') }}">connectez-vous</a>.</p>
        </div>
        </div>
    </div>


{% endblock %}
