{% extends 'base.html.twig' %}

    {% block title %}Hypnos Hôtels - Mes Réservations {% endblock %}

{% block content %}

    <div class="heading-page">
        <h2>Bienvenue dans votre espace client, {{ app.user.firstname }}</h2>
    </div>

    <div class="container frame">

    </div>

{% endblock %}
