form {
  margin-top: 0;
}

// Booking one suite specifically

span.form-control {
  background-color: #e9ecef !important;
}

.flash {
  padding: 15px 10px 15px 25px;
  margin-bottom: 30px;
  border-radius: 5px;

  &-error {
    background: rgba(255,0,0, 0.35);
  }

  &-success {
    background: rgba(0,100,0,0.35);

  }
}