{% extends 'base.html.twig' %}

{% block title %}Hypnos Hôtels - Contact{% endblock %}

{% block content %}
<div class="heading-page">
    <h2>Nous Contacter</h2>
</div>

    <div class="container frame">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}
